<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/xml"
        android:supportsRtl="true"
        android:theme="@style/Theme.Example_BTL_AndroidNC"
        tools:targetApi="31">
        <activity
            android:name=".tets.Demo"
            android:exported="false" />
        <activity
            android:name=".addItem.Edit_Profile"
            android:exported="false" />
        <activity
            android:name=".adapter.Register_Course_Adapter"
            android:exported="false" />
        <activity
            android:name=".addItem.RegisterCourseActivity"
            android:exported="false" />
        <activity
            android:name=".addItem.ClassActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".addItem.SetAdmin_Activity"
            android:exported="false" />
        <activity
            android:name=".authentication.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.Admin_HomeFragment"
            android:exported="false" />
        <activity
            android:name=".adapter.ViewPagetAdapter"
            android:exported="false" />
        <activity
            android:name=".authentication.SilentLoginActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>